* {
    font-family: "Fira Code", FontAwesome
}

window {
    padding: 10px;
    background-color: rgb(135, 100, 69);
    border-radius: 10px;
}

#outer-box {
    padding: 10px;
    border-radius: 10px;
}

#inner-box {
    background-color: rgb(202, 150, 92); 
    border-radius: 10px;
}

#entry {
    color: rgb(244, 223, 186);
}

#entry:selected {
    background-color: rgb(135, 100, 69);
    padding: 5px;
}

#input {
    background-color: rgb(244, 223, 186);
    color: rgb(135, 100, 69);
    margin-bottom: 10px;
}

#input:selected {
    border: rgb(238, 195, 115);
}

#text {
    margin: 2px;
}

#img {
    margin-right: 5px;
}
